.logo1 {
    width: 120px;
    height: 120px;
    padding: 0.5rem;
    background: linear-gradient(135deg, #e0f2fe, #1e3a8a);
    box-shadow: 0 6px 12px rgba(30, 58, 138, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.barra{
  
    background-color: rgba(255, 255, 255, 0.1); /* semi-transparente */
    backdrop-filter: blur(10px); /* efecto difuminado */

}
.fondo{
    background-color:#110594;
}