<div class="login-container">

    <div class="side-box">
        <h3>Consejos de Seguridad</h3>
        <ul>
            <li>Verifica la información antes de denunciar.</li>
            <li>No compartas datos personales innecesarios.</li>
            <li>En caso de emergencia, llama al 911.</li>
        </ul>

        <h3>Tipos de Denuncias</h3>
        <ul>
            <li>Robo o hurto</li>
            <li>Violencia intrafamiliar</li>
            <li>Fraudes y estafas</li>
            <li>Desaparición de personas</li>
        </ul>
    </div>

    <form class="login-form" (ngSubmit)="iniciarSesion()">
        <h2>🔐 Iniciar Sesión</h2>
        @if (error) {
        <div class="error-message">{{ error }}</div>
        }

        <label for="correoE">Correo electrónico</label>
        <input id="correoE" type="email" [(ngModel)]="correoE" name="correoE" required />

        <label for="contrasena">Contraseña</label>
        <input id="contrasena" type="password" [(ngModel)]="contrasena" name="contrasena" required />

        <button type="submit">Iniciar sesión</button>
    </form>

    <div class="side-box">
        <h3>Contacto Rápido</h3>
        <p><strong>Policía Nacional:</strong> 1800-335-486</p>
        <p><strong>Emergencias:</strong> 911</p>
        <p><strong>Denuncia en Línea:</strong> www.denuncias.gob.ec</p>

        <h3>Atención Ciudadana</h3>
        <p>Lunes a Viernes: 08h00 - 17h00</p>
        <p>Sábados: 08h00 - 12h00</p>
        <p>Correo: atencionciudadana@policia.gob.ec</p>
    </div>

</div>